<div class="mt-3">
<div class="team-style">
<div class="mb-3">
  <label for="exampleFormForAddTeamName" class="form-label">Name</label>
  <input [(ngModel)]="name" type="text" class="form-control" id="exampleFormForAddTeamName" placeholder="Name">
  <label for="exampleFormForAddTeamFamilyName" class="form-label">Family Name</label>
  <input [(ngModel)]="familyName" type="text" class="form-control" id="exampleFormForAddTeamFamilyName" placeholder="Family Name">
  <label for="exampleFormForAddTeamAge" class="form-label">Age</label>
  <input [(ngModel)]="age" type="text" class="form-control" id="exampleFormForAddTeamAge" placeholder="Age">
  <div class="team-style">
  <button (click)="addPlayer(name,familyName,age,idTeam)">ADD PLAYER</button>
  </div>
</div>
</div>
  <div class="team-style">
    {{information}}
  </div>
</div>
