<div class="mt-3">
  <div class="team-style">
  <div *ngFor="let player of players" >
    <div class="card border-success mb-3" style="max-width: 18rem; text-align: center; max-height: 18rem">
      <div class="card-header bg-transparent border-success">{{player.name}} {{player.familyName}}</div>


      <div class="card-footer bg-transparent border-success"> Wiek: {{player.age}}</div>
      <div *ngFor="let statistic of player.statistics">
        <div class="card-footer bg-transparent border-success">
         Statystyki<br>
         Treningi: {{statistic.training}} <br>
         Mecze: {{statistic.matches}} <br>
         Gole: {{statistic.goals}} <br>
         Asysty: {{statistic.assist}} <br>
          <button [routerLink]="['/editStatistic']" (click)="createSharedMoreMessage(player.idPlayer,player.name,player.familyName,statistic.training,statistic.matches,statistic.goals,statistic.assist)">AKTUALIZACJA STATYSTYK</button>
          <button (click)="deletePlayer(player.idPlayer)">DELETE PLAYER</button>
        </div>
      </div>
    </div>

    <div style="float: left; width: 5px; height: 1px" > </div>

  </div>
  <div class="team-style">
  <div class="card border-success mb-3 "  style=" float: left;max-width: 18rem; text-align: center; max-height: 18rem">
    <div class="card-header bg-transparent border-success">Dodaj zawodnika</div>
    <div class="card-body text-success">
      <img src="../../../../assets/add.svg" class="card-img-top" alt="" width="150" height="150" >

    </div>
    <button [routerLink]="['/addPlayer']" (click)="createSharedMessage(id)">ADD PLAYER</button>
  </div>
  </div>
    <div class="team-style">
        <h1>{{info}}</h1>
    </div>
</div>
</div>

