<nav class="navbar navbar-expand-lg navbar-dark bg-dark" *ngIf="this.authorizationService.isAuthenticated()">


  <img src="./assets/logo.png" width="30" height="30" alt="">
  <a class="navbar-brand" [routerLink]="['/home']"> TEAM ORGANIZER</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/schedule']">Schedule</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/blog']">Information</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="this.authorizationService.logout()" [routerLink]="['/']">LOGOUT</a>
      </li>
    </ul>
  </div>
</nav>



