<div class="mt-3">
  <div class="team-style">
    <div class="mb-3">
      <label for="exampleFormForAddTeam" class="form-label">Team Name / Nazwa Drużyny</label>
      <input [(ngModel)]="teamName" type="text" class="form-control" id="exampleFormForAddTeam" placeholder="Nazwa nowej drużyny">
      <button (click)="addTeam(teamName)">Dodaj drużynę</button>
    </div>
  </div>

  <div class="team-style">
    <h1>{{information}}</h1>
  </div>

</div>


