<div class="mt-3">
<div class="team-style">
Drużyna:
<select  [(ngModel)]="idTeam">

  <option *ngFor="let team of teams" [value]="team.teamId">
    {{team.teamName}}
  </option>

</select>

Rodzaj:
<select  [(ngModel)]="typeEventId">

  <option *ngFor="let events of eventsName" [value]="events.idEvent">
    {{events.name}}
  </option>

</select>
Rok:
<select  [(ngModel)]="year">

  <option *ngFor="let y of yearList" [value]="y">
    {{y}}
  </option>

</select>
Miesiac:
<select  [(ngModel)]="month">

  <option *ngFor="let mon of monthList" [value]="mon">
    {{mon}}
  </option>

</select>
Dzień:
<select  [(ngModel)]="day">

  <option *ngFor="let d of dayList" [value]="d">
    {{d}}
  </option>

</select>
Godzina:
<select  [(ngModel)]="hour">

  <option *ngFor="let h of hourList" [value]="h">
    {{h}}
  </option>

</select>
Minuta:
<select  [(ngModel)]="min">

  <option *ngFor="let m of minList" [value]="m">
    {{m}}
  </option>

</select>
Sekunda:
<select  [(ngModel)]="sec">

  <option *ngFor="let s of minList" [value]="s">
    {{s}}
  </option>

</select>

<button (click)="addEvent()">Dodaj wydarzenie</button>


</div>

  <div class="team-style">
    {{information}}
  </div>

</div>
