<div class="mt-3">
  <div class="team-style">

      <select  [(ngModel)]="idTeam">

      <option *ngFor="let team of teams" [value]="team.teamId">
        {{team.teamName}}
      </option>

      </select>
  </div>
  <div class="team-style">
    <button (click)="showTeam()">CHECK TEAM </button>
  </div>

  <div class="team-style">
  <div *ngFor="let schedule of schedules" >
    <div class="card border-success mb-3" style="max-width: 18rem; text-align: center; max-height: 18rem">
      <div class="card-header bg-transparent border-success">{{schedule.nameTeam}}</div>

      <div class="card-header bg-transparent border-success">{{schedule.nameEvent}}</div>

      <div class="card-header bg-transparent border-success">{{schedule.date}}</div>
      <div *ngFor="let eventName of eventsName" >
        <div *ngIf="eventName.name === schedule.nameEvent">
          <button  [routerLink]="['/schedule']" (click)="deleteEvent(schedule.idSchedule)">DELETE EVENT</button>
        </div>
      </div>

    </div>

  </div>
    <div class="team-style">
      <a [routerLink]="['/addEvent']" class="btn btn-primary">ADD EVENT</a>
    </div>
  </div>
  <div class="team-style">
    {{info}}
  </div>
</div>

