<div class="mt-3">
  <div class="team-style">
    <div class="mb-3">
      <label for="exampleFormForAddTeam" class="form-label">{{name}} {{familyName}}</label>
      <input [(ngModel)]="match" type="text" class="form-control" id="exampleFormForAddTeam" placeholder="Mecze">
      <input [(ngModel)]="training" type="text" class="form-control" id="exampleFormForAddTeam4" placeholder="Treningi">
      <input [(ngModel)]="goal" type="text" class="form-control" id="exampleFormForAddTeam2" placeholder="Gole">
      <input [(ngModel)]="assist" type="text" class="form-control" id="exampleFormForAddTeam3" placeholder="Asysty">
      <button (click)="changeStatistic()">Zaktualizuje statystyki</button>
    </div>
  </div>
  <div class="team-style">
    <h1>{{message}}</h1>
  </div>
</div>

