.login-wrapper{
  width: 20rem;
}

input{
  margin-bottom: 2rem;
}
.team-style{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
  text-align: center;
}

h1{
  color: red;
}
