
<div class="team-style">
<div class="login-wrapper">
  <div class="card">
    <div class="card-body">
      <form class="form-sign" (ngSubmit)="onSubmit(signInForm)" #signInForm="ngForm">

        <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

        <div class="form-floating">
          <input type="email" class="form-control" name="login" id="floatingInput" placeholder="name@example.com" required autofocus ngModel>
          <label for="floatingInput">Login</label>
        </div>

        <div class="form-floating">
          <input type="password" class="form-control" name="password" id="floatingPassword" placeholder="Password" required ngModel>
          <label for="floatingPassword">Password</label>
        </div>

        <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>

      </form>
    </div>
      <button  [routerLink]="['/signup']" class="w-100 btn btn-lg btn-primary" >Sign up </button>
  </div>
</div>
</div>



