

.team-style{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  align-items: baseline;
  gap: 20px;
}


input{
  margin-bottom: 2rem;
}
