<div class="container">
  <div class="row">
    <div class="mt-3">

    <div class="team-style">
    <div *ngFor="let team of teams" >
      <div class="card border-success mb-3" style=" max-width: 18rem; text-align: center; max-height: 18rem">
        <div class="card-header bg-transparent border-success">{{team.teamName}}</div>
        <div class="card-body text-success">
          <img src="../../../../assets/team.png" class="card-img-top" alt="" width="150" height="150">

        </div>
        <div class="card-footer bg-transparent border-success"> Liczba graczy: {{team.numberOfPlayers}}</div>
        <a (click)="createSharedMessage(team.teamId)" [routerLink]="['/team']" class="btn btn-primary">Go for team</a>
      </div>

      <div style="float: left; width: 5px; height: 1px" > </div>

    </div>


    <div class="card border-success mb-3 "  style="max-width: 18rem; text-align: center; max-height: 18rem">
      <div class="card-header bg-transparent border-success">Dodaj drużynę</div>
      <div class="card-body text-success">
        <img src="../../../../assets/add.svg" class="card-img-top" alt="" width="150" height="150" >

      </div>
      <div class="card-footer bg-transparent border-success">In there you add team</div>
      <a [routerLink]="['/addTeam']" class="btn btn-primary">ADD TEAM</a>
    </div>

  </div>

  </div>
</div>



